 <div class="container container-wide">
         <!-- content -->
        <div class="content " role="main">
          <%= render partial: 'shared/navbar' %>
            <!-- row-->
			<div class="row">
				<div class="col-sm-8">
					<!-- content-->
					<div class="content " role="main">
             <%if @user.projects.blank?%>
               <h1><font color="white">No Projects</h1>
               <%flash[:info] = 'No Projects'%>
               <%else%>
						<!-- post list -->
						<div class="postlist">
	            <div class="post-item boxed style5 clearfix">
                <div>
                <%flash[:success] = 'Successfully loaded all projects' %>
                <% @user_projects.each do |user_project| %>
                <% project = user_project.project %>
	            	<div class="col-sm-2">
		              <div class="comment-avatar logo-height">
                  <div class="avatar">
                      <%= image_tag project.logo.url || ('/assets/yourlogo.png'), class: 'project-logo' %>
                   </div>
									</div>
								</div>
								<div class="col-sm-9">
		              <div class="inner">
		                <div class="post-title"><h2><%= project.name %></a></h2></div>
		                <div class="post-meta-top">
		                  <span class="post-author"><%= project.status %></span>
		                  <span> | </span>
		                  <span class="post-date"><%=user_project.created_at.strftime("%d-%B-%Y")%></span>
		                </div>
		                <div class="post-desc">
		                  <p>Some comments</p>
		                </div>
		                <div class="post-meta-bot post-meta-links">
		                  <a href='/activities/index'class="btn btn-small btn-pink">
                      <span><%= sprintf('%g', project.total_hours) %> Hours</span></a>
		                  <a href="#" class="btn btn-small btn-blue"><span>4 Sheets</span></a>
		                </div>
		              </div>
		            </div>
                <%end%>
		           <%end%>
	            </div>
	            <!--/post item-->
						</div>
						<!--/ postlist-->
					</div>
					<!--/ content-->
			  </div>
			</div>
     </div>
    </div>
