<!DOCTYPE html>
<html>
  <head>
    <title>SPMS | Secondary Project Management System</title>
    <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
    <meta charset="utf-8">
    <meta name="author" content="ThemeFuse">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SPMS | Dashboard</title>
    <!-- Graph Builder -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <style type="text/css">
        .panel:before {
          content: '';
          display: block;
          background-color: rgba(0,0,0,0);
          transition: background-color 0.5s ease-in-out;
        }

        .panel-open:before {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          background-color: rgba(0,0,0,.5);
          z-index: 99;
        }
    </style>
  </head>

  <body>

    <%= render partial: 'shared/sidebar' %>

    <main id="panel">
       <%= render partial: 'shared/toast' %>
        <%= yield %>
    </main>
    <%= render partial: 'shared/modal' %>
  </body>
</html>
