<!DOCTYPE html>
<html>
  <head>
    <title>SPMS | Secondary Project Management System</title>
    <link rel="shortcut icon" href="/assets/logo.ico" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
    <meta charset="utf-8">
    <meta name="author" content="ThemeFuse">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SPMS | Dashboard</title>
    <!-- Graph Builder -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>

  <body>
    <%= render partial: 'shared/toast' %>
    <%= yield %>
  </body>
</html>
